.bg-header {
	background: #c65030 !important;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.13);
  	top: 0px;
  	width: 100% ;
  	z-index: 2;
}

.card-radious-none {
	border-radius: 0px;
}

.navbar {
	padding: 0px !important;
	height: 100px;
}

.navbar-brand {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.header-bottom {
	margin-bottom: 60px;
}

.tag-line {
	font-weight: 400;
	font-size: 16px;
	color: white;
	letter-spacing: 0.19px;
	line-height: 20px;
	margin-left: 300px;
}

.tag-menu {
	font-weight: 400;
	font-size: 16px;
	color: white;
	letter-spacing: 0.19px;
	line-height: 20px;
	margin-left: 20px;
	margin-left: 362px;
}

.separator {
	color: #DCDCDC;
}

.tool-name {
	font-size: 25px;
	color: white;
	letter-spacing: 0.19px;
	line-height: 20px;
}

.popover {
	max-width: 360px !important;
	left: 72% !important;
}

.popover-content {
	width: 360px !important;
}

.feedback-header {
	font-size: 14px !important;
	color: rgba(0,0,0,0.87) !important;
	letter-spacing: 0.19px !important;
	line-height: 18px !important;
	font-weight: 500;

}

.btn-feedback {
	background-color: #1E9F91;
	border-color: #1E9F91;
	color: #FFFFFF; 
}


.btn-feedback:hover {
	background-color: #1E9F91;
	border-color: #1E9F91; 
	color: #FFFFFF;
	transform: scale(1.05);
}

.btn-feedback:focus, .btn-feedback.focus {
    outline: 0;
    box-shadow: 0 0 0 2px #1E9F91 !important;
}

.rate-us {
	margin-top: 15px; 
	text-align: center;
}

.rate-comp {
	margin-left: 24%;
}

.sb-style .sb-button {
	min-width: 30px !important;
	height: 45px !important;
	margin-top: 0px;
}

.nav-tools {
    padding: 62px 0px 0px 10px;
    height: 38px;
    min-width: 400px;
    background: #c65030;
    position: absolute;
    top: 0px;
    left: 290px;
    overflow-y: hidden;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.content {
    margin: auto;
    padding: 0px 30px 0px 30px;
    max-width: 1140px;
    position: relative;
}

.panel {
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}

.logo {
    width: 352px;
    height: 100px;
    background: #e24301;
    position: absolute;
    top: 0px;
    left: 0px;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease;
}



.logo-cloud-networking-tools-reverse {
    width: 290px;
    height: 80px;
    background: url(/assets/logo-cloud-networking-tools-reverse.png) no-repeat 0px 0px;
    background-size: 290px 80px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.dark-gray {
    height: 50px;
    background: url(/assets/bg-gray.png) no-repeat 50% 50%;
    background-size: 100% 100%;
    position: relative;
}

/* 1.1 Web Fonts */

@font-face {
    font-family: 'Yoga Sans Hairline';
	src: url('/assets/fonts/YogaSansOT-Hairline.woff') format('woff');
	}

@font-face {
    font-family: 'Yoga Sans Hairline Italic';
	src: url('/assets/fonts/YogaSansOT-HairlineItalic.woff') format('woff');
	}

@font-face {
    font-family: 'Yoga Sans Thin';
	src: url('/assets/fonts/YogaSansOT-Thin.woff') format('woff');
	}

@font-face {
    font-family: 'Yoga Sans Thin Italic';
	src: url('/assets/fonts/YogaSansOT-ThinItalic.woff') format('woff');
	}

@font-face {
    font-family: 'Yoga Sans Light';
	src: url('/assets/fonts/YogaSansOT-Light.woff') format('woff');
	}

@font-face {
    font-family: 'Yoga Sans Light Italic';
	src: url('/assets/fonts/YogaSansOT-LightItalic.woff') format('woff');
	}

@font-face {
    font-family: 'Yoga Sans';
	src: url('/assets/fonts/YogaSansOT.woff') format('woff');
	}

@font-face {
    font-family: 'Yoga Sans Italic';
	src: url('/assets/fonts/YogaSansOT-Italic.woff') format('woff');
	}

@font-face {
    font-family: 'Yoga Sans Medium';
	src: url('/assets/fonts/YogaSansOT-Medium.woff') format('woff');
	}

@font-face {
    font-family: 'Yoga Sans Medium Italic';
	src: url('/assets/fonts/YogaSansOT-MediumItalic.woff') format('woff');
	}

@font-face {
    font-family: 'Yoga Sans Bold';
	src: url('/assets/fonts/YogaSansOT-Bold.woff') format('woff');
	}

@font-face {
    font-family: 'Yoga Sans Bold Italic';
	src: url('/assets/fonts/YogaSansOT-BoldItalic.woff') format('woff');
	}

.selected {
	font-family: "Yoga Sans Bold";
	color: #fff;
	}

.primary {
	    margin: 0px -4px 0px 0px;
    padding: 18px 16px 16px 16px;
    font-family: "Yoga Sans Thin";
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #ddd;
    display: block;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease;
    position: relative;
    cursor: pointer;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}