<div id="header-desktop">

<!-- Orange -->
  <div class="panel" id="orange">
    <div class="content">
      <div id="logo">
        <a href="/" id="logo-cloud-networking-tools-reverse">&nbsp;</a>
      </div>

      <div id="nav-tools">
        &nbsp;
      </div>
    </div>  
  </div>


<!-- Dark Gray -->
  <div id="dark-gray">
    <div class="content">
      <div id="tagline">
        <span> {{properties.TOOL_TAG}}</span>
      </div>

      <div id="nav-primary">

        <!-- Home -->
        <div class="nav-container" id="nav-products">
          <a href="/" class="primary ">Home</a>
        </div>

        <!-- Tools -->
        <div class="nav-container" id="nav-about">
          <a href="javascript:void(0)" class="primary selected">Online Tools</a>
          <div class="nav-menu right">
            <div class="columns">
              <div class="column">
                <a href="#/aws/speedtest" class="secondary">Amazon Web Services Network Performance&nbsp;Test</a>
                <a href="#/azure/speedtest" class="secondary">Microsoft Azure Network Performance&nbsp;Test</a>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>

        <!-- Contact -->
        <div class="nav-container" id="nav-products">
          <a href="http://www.aviatrix.com/contact/" class="primary ">Contact Us</a>
        </div>

      </div>
    </div>
  </div>
</div>