<!-- Footer -->
<div class="clear"></div>
<div id="footer" style="background-color: #fff;">
  <div class="panel">
    <div class="content threecolumns tight footer-font-style download-div">
      <p class="footer-download-btn">Connect your cloud resources in minutes, not weeks with Aviatrix<br>Try our solution for FREE TODAY !</p>
      <div class="col-md-12 center">
        <a class="btn btn-download" href="{{download()}}" target="_blank">&nbsp;&nbsp;Download Aviatrix Software<br>FREE TRIAL
        </a>
      </div>
    </div>
  </div>
  <div class="panel" id="contact-bar">
    <div class="content">
      <a href="/" id="logo-reverse">&nbsp;</a>
        <h6 class="thin" style="font-size: 13px; text-transform: uppercase;">411 High Street &nbsp;&nbsp; Palo Alto, California 94301 &nbsp;&nbsp; +1.844.262.3100 &nbsp;&nbsp; <a href="mailto:info@aviatrix.com">info@aviatrix.com</a></h6>
    </div>
  </div>
</div>
<!-- End Footer -->
