<div class="clear"></div>

<div id="footer" style="background-color: #fff;">
  <div class="panel">
    <div class="content threecolumns tight footer-font-style" style="margin-top: 35px !important; margin-bottom: 35px !important;">
      <!-- <div class="column double"> -->
        <!-- <p class="tight blurb regular">Copyright © 2017 Aviatrix Systems, Inc. All&nbsp;rights&nbsp;reserved.</p>
        <p class="slug"><span class="caption gray">Website design and development by <a href="http://www.jdubbs.com" target="_blank" class="gray" style="font-weight: 300">Jamie Wieferman Design</a>
        </span></p> -->
        <p style="font-family: Yoga Sans; text-align: center;">Connect your cloud resources in minutes, not weeks with Aviatrix<br>Try our solution for FREE TODAY !</p>
      <!-- </div> -->
      <div class="col-md-12 center">
        <a class="btn btn-download" (click)="download();" target="_blank" style="background-color: #ee7700">&nbsp;&nbsp;Download Aviatrix<br>Software<br>FREE TRIAL</a>

      </div>
    </div>

  </div>

  <div class="panel" id="contact-bar">
    <div class="content">
      <a href="/" id="logo-reverse">&nbsp;</a>
        <h6 class="thin" style="font-size: 13px; text-transform: uppercase;">411 High Street &nbsp;&nbsp; Palo Alto, California 94301 &nbsp;&nbsp; +1.844.262.3100 &nbsp;&nbsp; <a href="mailto:info@aviatrix.com">info@aviatrix.com</a></h6>
    </div>
  </div>

</div>
