<div class="clear"></div>

<div id="footer" style="background-color: #fff; margin-top: 15px;">
  <div class="panel">
    <div class="content threecolumns tight footer-font-style">
      <div class="column double">
        <p class="tight blurb regular">Copyright © 2017 Aviatrix Systems, Inc. All&nbsp;rights&nbsp;reserved.</p>
        <p class="slug"><span class="caption gray">Website design and development by <a href="http://www.jdubbs.com" target="_blank" class="gray" style="font-weight: 300">Jamie Wieferman Design</a>
        </span></p>
      </div>
    </div>
  </div>

  <div class="panel" id="contact-bar">
    <div class="content">
      <a href="/" id="logo-reverse">&nbsp;</a>
        <h6 class="thin" style="font-size: 13px; text-transform: uppercase;">411 High Street &nbsp;&nbsp; Palo Alto, California 94301 &nbsp;&nbsp; +1.844.262.3100 &nbsp;&nbsp; <a href="mailto:info@aviatrix.com">info@aviatrix.com</a></h6>
    </div>
  </div>

</div>
