<!-- Desktop Header -->
<div class="container-fluid" style="margin-top: 100px;">
<!-- Dark Gray -->

<!-- <div id="dark-gray">
<div class="content">
<div id="tagline">
<a href="http://cloudnetworkingtools.jdubbs.com/products/">www.cloudnetworkingtools.com</a>
</div>

<div id="nav-primary">


<div class="nav-container" id="nav-products">
<a href="http://cloudnetworkingtools.jdubbs.com/" class="primary selected">Home</a>
</div>



<div class="nav-container" id="nav-about">
<a href="http://cloudnetworkingtools.jdubbs.com/index.php#" class="primary ">Online Tools</a>
<div class="nav-menu right">
<div class="columns">
<div class="column">
<a href="http://cloudnetworkingtools.jdubbs.com/index.php#" class="secondary">Amazon Web Services Network Performance&nbsp;Test</a>
<a href="http://cloudnetworkingtools.jdubbs.com/index.php#" class="secondary">Microsoft Azure Network Performance&nbsp;Test</a>
</div>
<div class="clear"></div>
</div>
</div>
</div>


<div class="nav-container" id="nav-products">
<a href="http://www.aviatrix.com/contact/" class="primary ">Contact Us</a>
</div>



</div>
</div>
</div> -->

	
	<!-- <div class="dark-gray">Hello
		<div class="content">
		<div class="tagline">
			<a href="/products/">www.cloudnetworkingtools.com</a>
		</div>
			
		</div>
	</div> -->

<!-- Mobile Header -->

<div id="header-mobile">

<div id="orange-gray">
<div class="content">
<a href="http://cloudnetworkingtools.jdubbs.com/" id="logo-cloud-networking-tools-reverse">&nbsp;</a>
</div>
</div>


</div>




<div class="page">





<!-- Marquee (1 col) -->

<div class="panel marquee tall network-white">
	<div class="content" style="margin: 70px auto 70px auto;">
		<div style="width: 47%; margin: 0px 1.5% 0px 1.5%; float: left;">
			<h1 style="font-size: 55px; line-height: 62px; letter-spacing: -2px; margin-top: -20px;">How well do you know your cloud networks?</h1>
			<h5 style="font-weight: normal; color: #c14d25;">Leverage our free cloud native networking tools for insights into your cloud networks for improved planning&nbsp;and&nbsp;operations.</h5>
		</div>
	</div>
</div>



<!-- Tools (2 col) -->

<div class="panel shadow-bottom row">
<!-- <div class="content twocolumns center extra-tight"> -->
<div class="column narrow center col-md-6">
<a href="#/aws/speedtest"><span class="illus small tight-top" id="cloud-performance-aws">
<img class="aspect" src="/assets/aspect-2-1.png">
</span></a>
<h4><a href="#/aws/speedtest" class="hover">AWS Network Performance Test
</a></h4>
<p class="blurb tight">Test latency and throughput from your data center to AWS regions. Lorem ipsum dolor sit amet&nbsp;consectetur.</p>
<div class="buttons center semiloose">
<a class="button orange" href="#/aws/speedtest"><span class="arrow"></span><span class="text">Begin Test</span></a>
</div>
<div class="clear"></div>
</div>

<div class="column narrow center col-md-6">
<a href="#/azure/speedtest"><span class="illus small tight-top" id="cloud-performance-azure">
<img class="aspect" src="/assets/aspect-2-1.png">
</span></a>
<h4><a href="#/azure/speedtest" class="hover">Azure Network Performance Test</a></h4>
<p class="blurb tight">Test latency and throughput from your data center to Azure regions. Lorem ipsum dolor sit amet&nbsp;consectetur.</p>
<div class="buttons center semiloose">
<a class="button orange" href="#/azure/speedtest"><span class="arrow"></span><span class="text">Begin Test</span></a>
</div>
<div class="clear"></div>
</div>


<!-- </div> -->
</div>



<!-- More (3 col) -->

<div class="panel">
	<h4>Cloud Networking Resources</h4>
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-4">
					<a href="http://cloudnetworkingtools.jdubbs.com/resources/white-papers/esg-simplify-workload-migration.php">
					<span class="icon" id="analyst-report"></span></a>
				</div>
				<div class="col-md-8">
					<h4 class="small"><a href="http://cloudnetworkingtools.jdubbs.com/resources/white-papers/esg-simplify-workload-migration.php" class="hover underhover">Simplify Workload Migration with Hybrid Cloud Networking</a></h4>
					<h6 class="rust-orange tight">Enterprise Strategy Group Report</h6>
					<p class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a href="http://cloudnetworkingtools.jdubbs.com/documents/EMA-Aviatrix-VendorToWatch.pdf"><span class="icon" id="analyst-report"></span></a>
				</div>
				<div class="col-md-8">
					<h4 class="small"><a href="http://cloudnetworkingtools.jdubbs.com/documents/EMA-Aviatrix-VendorToWatch.pdf" class="hover underhover">EMA Vendor to Watch:&nbsp;Aviatrix</a></h4>
					<h6 class="rust-orange tight">Analyst Report</h6>
					<p class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a href="http://cloudnetworkingtools.jdubbs.com/resources/white-papers/business-benefits-of-hybrid-cloud-networking.php"><span class="icon" id="white-paper"></span></a>
				</div>
				<div class="col-md-8">
					<h4 class="small"><a href="http://cloudnetworkingtools.jdubbs.com/resources/white-papers/business-benefits-of-hybrid-cloud-networking.php" class="hover underhover">The Business Benefits of Aviatrix Hybrid Cloud&nbsp;Networking</a></h4>
					<h6 class="rust-orange tight">White Paper</h6>
					<p class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
				</div>
			</div>
		</div>
		<div class="column col-md-3">

			<h4 class="border thin"><a href="http://cloudnetworkingtools.jdubbs.com/about/">About Aviatrix</a></h4>
			<a href="http://cloudnetworkingtools.jdubbs.com/" id="logo-aviatrix">&nbsp;</a>
			<p class="blurb">Aviatrix provides an innovative Cloud Networking software solution that simplifies connectivity to the cloud in a secure and scalable way. At Aviatrix, we believe that networking is a foundational element of cloud computing and, should be as dynamic, scalable, and elastic as compute and  storage.</p>

			<p class="blurb">Aviatrix provides a software solution for all types of encrypted cloud connectivity: between enterprise datacenter and public cloud (hybrid cloud), between public cloud inter-regions, between different cloud providers (Amazon AWS, Microsoft Azure and Google Cloud Platform), and direct user access to public cloud through VPN.</p>
		</div>
	</div>
</div>


<div class="clear"></div>
</div>
</div>