<div class="row mrg-top-15">
    <!-- Begin Test -->
    <div class="col-sm-12 pad-right-none" *ngIf="!beginTest">
        <div class="card card-radious-none" style="height:365px; overflow-y: auto;">
            <div class="center" style="padding:15px;">
                <img src="/assets/aws_icon.svg" height="120" width="30%" />
                <p class="begin-text">
                    Test latency and throughput from your data center to AWS regions. Identify the best cloud regions to deploy your apps and data.</p>
            </div>
            <button class="btn begin-test-btn outline-none center" (click)="startTest();">Begin Test
                <img src="/assets/arrow-36x36-white.png" height="16" width="16" style="margin-left: 10px;" />
            </button>
        </div>
    </div>
    <!--End of Begin Test -->
    <!-- Connectivity Network Panel -->
    <div class="col-sm-12 pad-right-none" *ngIf="beginTest">
        <div class="card card-radious-none" style="height:365px; overflow-y: auto;">
            <div class="card-block test-card-height padding-top-none">
                <div class="height-155">
                    <table class="table table-striped" style="margin-bottom: 0px; background-color: #f8f8f8;">
                        <thead>
                            <tr>
                                <th align="center"> Region Name </th>
                                <th align="center" colspan="2"> HTTP Get</th>
                                <th align="center" colspan="2"> HTTP Header</th>
                                <th align="center" colspan="2"> HTTP Ping</th>
                                <th align="center"> HTTP DynamoDB</th>
                                <!-- <th align="center"> System Ping</th> -->
                            </tr>
                            <tr>
                                <th></th>
                                <th>Latency (msec)</th><th>Throughput (mbps)</th>
                                <th>Latency (msec)</th><th>Throughput (mbps)</th>
                                <th>Latency (msec)</th><th>Throughput (mbps)</th>
                                <th>Latency (msec)</th>
                                <!-- <th>Latency (msec)</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let region of locations">
                                <th> {{region.region_name}}</th>
                                <td *ngIf="!region.latency">{{properties.NA_TEXT}}</td>
                                <td *ngIf="region.latency"> {{region.latency}}</td>
                                <td *ngIf="!region.bandwidth">{{properties.NA_TEXT}}</td>
                                <td *ngIf="region.bandwidth">{{region.bandwidth}}</td>

                                <td *ngIf="!region.headerLatency">{{properties.NA_TEXT}}</td>
                                <td *ngIf="region.headerLatency"> {{region.headerLatency}}</td>
                                <td *ngIf="!region.headerBandwidth">{{properties.NA_TEXT}}</td>
                                <td *ngIf="region.headerBandwidth">{{region.headerBandwidth}}</td>

                                <td *ngIf="!region.pingLatency">{{properties.pingLatency}}</td>
                                <td *ngIf="region.pingLatency"> {{region.pingLatency}}</td>
                                <td *ngIf="!region.pingBandwidth">{{properties.NA_TEXT}}</td>
                                <td *ngIf="region.pingBandwidth">{{region.pingBandwidth}}</td>

                                <td *ngIf="!region.dynamodbLatency">{{properties.NA_TEXT}}</td>
                                <td *ngIf="region.dynamodbLatency">{{region.dynamodbLatency}}</td>

                                <!-- <td *ngIf="!region.systemPingLatency">{{properties.NA_TEXT}}</td>
                                <td *ngIf="region.systemPingLatency">{{region.systemPingLatency}}</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>