.card-radious-none {
	border-radius: 0px;
}

.sebm-google-map-container {
  height: 300px;
}

.test-card-height {
	height: 305px;
}

.card-title-margin {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	font-weight: 500;
    text-transform: uppercase;
    opacity: 0.9;
    // font-size: 14px;
    // color: #666666;
    
	font-size: 14px !important;
	color: #757575 !important;
	letter-spacing: 0.19px !important;
	line-height: 18px !important;

}

.value-color {
	color: #7bcef3;
}

.card-header {
	background-color: #FFFFFF;
	padding-top: 0.40rem !important;
	padding-bottom: 0.40rem !important;
	border-bottom: none;
}
.column-header {
	cursor: pointer; 
	color: #666666; 
	font-weight: 500
}
.sort-style {
	opacity: 0.8;
}

.chart-height {
	height: 300px;
}

.info-color {
	color: rgba(0,0,0,0.64);
	// margin-top: 10px;
}

.loader-style {
	// float: right;
	margin-top: 5px;
}

.card {
	border: none;
	background: #FFFFFF;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.12);
}

.btn-start {
	float: right; 
	margin-right: 10px; 
	color: #2196F3; 
	background-color: #FFFFFF; 
	cursor: pointer;
}

.btn-start:disabled {
    cursor: not-allowed;
    // opacity: .5;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    color: #DCDCDC;
}

.btn-stop {
	float: right; 
	margin-right: 10px; 
	color: #F44336; 
	background-color: #FFFFFF; 
	cursor: pointer;
}

.btn-stop:disabled {
    cursor: not-allowed;
    // opacity: .5;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    color: #DCDCDC;
}

.fa-lg {
    font-size: 1.2em !important;
}

.mat-tooltip {
    font-size: 14px !important;
}

.btn-download {
	float: right; 
	margin-right: 10px; 
	color: #1E9F91; 
	background-color: #F0F3F4; 
	cursor: pointer;
}

.btn-download:hover {
	float: right; 
	margin-right: 10px; 
	color: #1E9F91; 
	background-color: #F0F3F4; 
	cursor: pointer;
}

.btn-download:focus, .btn-download.focus {
    outline: 0;
    box-shadow: 0 0 0 2px #1E9F91 !important;
    color: #1E9F91 !important; 
}