.card-radious-none {
	border-radius: 0px;
}

.sebm-google-map-container {
  height: 400px;
}

.test-card-height {
	height: 438px;
}

.card-title-margin {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.value-color {
	color: #7bcef3;
}

.card-header {
	padding-top: 0.40rem !important;
	padding-bottom: 0.40rem !important;
}