<div class="container-fluid">
    <div class="row mrg-top-15">
        <div class="col-md-9 pad-right-none">
            <div class="card card-radious-none">
                <div class="card-header">
                    <h5 class="card-title card-title-margin">Map - Public Cloud Data Centers</h5>
                    <!-- <md-select placeholder="Select Cloud">
                        <md-option *ngFor="let cloud of clouds" [value]="cloud.value">
                            {{ cloud.viewValue }}
                        </md-option>
                    </md-select> -->
                </div>
                <div class="card-block">
                    <!-- <sebm-google-map [latitude]="lat" [longitude]="lng">
                        <sebm-google-map-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng" (mouseOver)="myclick(m)">
                            <sebm-google-map-info-window [disableAutoPan]="false">
                                <strong>{{m.label}}</strong>
                            </sebm-google-map-info-window>
                        </sebm-google-map-marker>
                    </sebm-google-map> -->
                    <aol-map [width]="'100%'" [height]="'100%'">
                        <aol-view [zoom]="zoom">
                            <aol-coordinate [x]="5" [y]="45" [srid]="'EPSG:4326'"></aol-coordinate>
                        </aol-view>
                        <aol-layer-tile [opacity]="opacity">
                            <aol-source-osm></aol-source-osm>
                        </aol-layer-tile>
                        <aol-layer-vector [opacity]="opacity">
                            <aol-source-vector>
                                <aol-feature>
                                    <aol-geometry-point>
                                        <aol-coordinate [x]="5" [y]="45" [srid]="'EPSG:4326'"></aol-coordinate>
                                    </aol-geometry-point>
                                    <aol-style>
                                        <aol-style-circle [radius]="50">
                                            <aol-style-stroke [color]="'black'" [width]="width"></aol-style-stroke>
                                            <aol-style-fill [color]="'green'"></aol-style-fill>
                                        </aol-style-circle>
                                    </aol-style>
                                </aol-feature>
                                <aol-feature>
                                    <aol-geometry-point>
                                        <aol-coordinate [x]="5.1" [y]="45.1" [srid]="'EPSG:4326'"></aol-coordinate>
                                    </aol-geometry-point>
                                    <aol-style>
                                        <aol-style-icon [src]="'assets/marker.png'" [anchor]="[0.5, 1]" [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'" [scale]="0.1" [anchorOrigin]="'top-left'">
                                        </aol-style-icon>
                                    </aol-style>
                                </aol-feature>
                            </aol-source-vector>
                        </aol-layer-vector>
                    </aol-map>
                    <span>opacity:</span>
                    <button (click)="increaseOpacity()">+</button>
                    <button (click)="decreaseOpacity()">-</button>
                    <br>
                    <span>zoom:</span>
                    <button (click)="increaseZoom()">+</button>
                    <button (click)="decreaseZoom()">-</button>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-radious-none">
                <div class="card-header">
                    <h5 class="card-title card-title-margin">Test Results</h5>
                </div>
                <div class="card-block test-card-height">
                    <h6 class="card-title card-title-margin">Bandwidth</h6>
                    <h6 class="card-title card-title-margin value-color">45000 ms</h6>
                    <br>
                    <h6 class="card-title card-title-margin">Latency</h6>
                    <h6 class="card-title card-title-margin value-color">20001 ms</h6>
                    <br>
                    <h6 class="card-title card-title-margin">Response Time</h6>
                    <h6 class="card-title card-title-margin value-color">00.05.06</h6>
                    <br>
                    <h6 class="card-title card-title-margin">Packet Loss</h6>
                    <h6 class="card-title card-title-margin value-color">10%</h6>
                    <br>
                    <h6 class="card-title card-title-margin">Throughput</h6>
                    <h6 class="card-title card-title-margin value-color">11000 mbps</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row mrg-top-15">
        <div class="col-md-6 pad-right-none">
            <div class="card card-radious-none">
                <div class="card-header">
                    <h5 class="card-title card-title-margin">Latency</h5>
                </div>
                <div class="card-block">
                    <chart [options]="latencyOptions"></chart>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-radious-none">
                <div class="card-header">
                    <h5 class="card-title card-title-margin">Response Time</h5>
                </div>
                <div class="card-block">
                    <chart [options]="responseTimeOptions"></chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row mrg-top-15 mrg-bottom-15">
        <div class="col-md-6 pad-right-none">
            <div class="card card-radious-none">
                <div class="card-header">
                    <h5 class="card-title card-title-margin">Packet Loss</h5>
                </div>
                <div class="card-block">
                    <chart [options]="packetLossOptions"></chart>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-radious-none">
                <div class="card-header">
                    <h5 class="card-title card-title-margin">Throughput</h5>
                </div>
                <div class="card-block">
                    <chart [options]="throughputOptions"></chart>
                </div>
            </div>
        </div>
    </div>
</div>
